*{
    padding: 0;
    margin: 0;
}
/* Body part start here */
body{
    font-family: 'Montserrat', sans-serif;
}
/* Body part end here */
/* Header part start here */
header{
}

header img{
    width: 78%;
    margin-bottom: 4px;
}

.navbar{
    align-items: center;
}

.nav-link{
    color: #204f87;
    font-size: 13px;
    font-weight: 700;
    transition: .4s all ease-out;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #f2622c;
}
/* Header part end here */
/* Banner part start here */
.banner{
    background-image: url(../images/bg_one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner h1{
    text-align: center;
    font-size: 74px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

.hg{
    min-height: 92vh;
    align-items: center;
}

.icon{
    position: absolute;
    color: #ffffff;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    animation: updown .9s linear infinite;
    animation-direction: alternate;
}

@keyframes updown{
    0%{
        top: 75%;
    }
    100%{
        top: 80%;
    }
}
/* Banner part end here */
/* Who we are part start here */
.who_we_are{
    margin-top: 22px;
    margin-bottom: 120px;
}

.who_we_are_center{
    align-items: center;
}

.who_we_are span{
    display: block;
    width: 50px;
    height: 3px;
    background: #f2622c;
}

.who_we_are h2{
    color: #204f87;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 15px;
    font-weight: 700;
}

.who_we_are p{
    color: #b0b0b1;
    font-size: 11pt;
    margin-top: 30px;
}

.who_we_are img{
    margin-left: auto;
    height: 100%;
}
/* Who we are part end here */
/* What we do part start here */
.what_we_do{
    background: #f7f8f8;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(../images/bg_two.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 70%;
}

.what_we_do span{
    display: block;
    width: 50px;
    height: 3px;
    background: #f2622c;
    margin: auto;
}

.what_we_do h2{
    text-align: center;
    color: #204f87;
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 15px;
    font-weight: 700;
}

.what_we_do img{
    width: 100%;
}

.item{
    position: relative;
}

.item h2{
    position: absolute;
    top: 40%;
    font-size: 15pt;
    color: #ffffff;
    left: 50%;
    transform: translate(-50%, -35%);
    opacity: 0;
    transition: .4s all ease-in-out;
}

.item i{
    position: absolute;
    top: 77%;
    right: 55%;
    font-size: 28px;
    color: #ffffff;
    transform: translate(50%, 0);
    opacity: 0;
    transition: .4s all ease-in-out;
}

.item::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2b2f85+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(43,47,133,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(43,47,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(43,47,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#2b2f85',GradientType=0 ); /* IE6-9 */
    transition: .4s all ease-in-out;
}

.item:hover::before{
    height: 100%;
}

.item:hover h2{
    opacity: 1;
    top: 35%;
}

.item:hover i{
    opacity: 1;
    right: 50%;
}
/* What we do part end here */
/* Our attorneys part start here */
.our_attorneys{
    background-image: url(../images/bg_three.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 63px;
    padding-bottom: 100px;
}

.our_attorneys span{
    display: block;
    width: 50px;
    height: 3px;
    background: #f2622c;
}

.our_attorneys h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    margin-top: 20px;
}

.our_attorneys p{
    color: #b0b0b1;
    font-size: 11pt;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.our_attorneys h5{
    color: rgb(242, 98, 44);
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
}

.our_attorneys_item{
    position: relative;
}

.our_attorneys_item img{
    width: 100%;
}

.our_attorneys_align{
    align-items: center;
}

.our_attorneys_item h3{
    position: absolute;
    top: 0%;
    color: #ffffff;
    left: 10%;
    transition: .4s all ease-in-out;
    opacity: 0;
    font-size: 30px;
    font-weight: 600;
}

.our_attorneys_item::before{
    content: '';
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,2b2f85+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(43,47,133,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(43,47,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(43,47,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#2b2f85',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: .4s all ease-in-out;
}

.our_attorneys_item:hover::before{
    height: 100%;
}

.our_attorneys_item:hover h3{
    opacity: 1;
    top: 75%;
}
/* Our attorneys part end here */
/* The languages part start here */
.the_languages{
    padding: 100px 0px;
}

.the_languages span{
    display: block;
    width: 50px;
    height: 3px;
    background: #f2622c;
    margin: auto;
}

.the_languages h2{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    color: #28377e;
    text-transform: uppercase;
}

.the_languages h3{
    text-transform: uppercase;
    font-size: 22px;
    color: #28377e;
    font-weight: 700;
}

.the_languages p{
    color: #b1b0b1;
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
}

.the_languages h5{
    font-weight: 600;
    color: #f2622c;
    font-size: 14px;
    margin-top: 30px;
}
/* The languages part end here */
/* Form part start here */
.form_section{
    background: #28377e;
    padding: 80px;
}

.form_section span{
    display: block;
    width: 50px;
    height: 3px;
    background: #f2622c;
    margin: auto;
}

.form_section h2{
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{

}

form input{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    border-bottom: 1px solid #4759a7;
    margin-top: 30px;
    padding: 10px 2px;
}

form input::placeholder{
    color: #ffffff;
}

form input[type="submit"]{
    border: 1px solid #f2622c;
    background: #f2622c;
    color: #ffffff;
    font-weight: 600;
    width: 180px;
    margin-top: 40px;
}
/* Form part end here */
/* Footer part start here */
footer{
    height: 80px;
    background: #0c1234;
    align-items: center;
    display: flex;
}

footer p{
    margin: 0;
    color: #616ca8;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: end;
    margin: 0;
}

footer ul li{
    padding-left: 15px;
}

footer ul li a{
    text-decoration: none;
    color: #ffffff;
}

.main_footer{
    display: flex;
    justify-content: space-between;
}

.footer_right{
    width: 70%;
}

.footer_left{
    width: 30%;
}
/* Footer part end here */